{% extends 'inventory_manager/product.html' %}

{% block contentblock %}
	<h1>Stock</h1>
	{% if stocks %}

		<div class="table-div">
			<table class="view-table">
			<tr>
				<th>stock ID</th>
				<th>Product</th>
				<th>Batch No</th>
				<th>Quantity</th>
				<th>Action</th>
			</tr>
			{% for stock in stocks %}
			<tr>
				<td>{{ stock.id }}</td>
				<td>{{ stock.product }}</td>
				<td>{{ stock.batch_num }}</td>
				<td>{{ stock.qty }}</td>
				<td><a href="{% url 'update-stock' stock.id %}"><button class="btn btn-sm">Edit</button></a></td>

			</tr>
			{% endfor %}
		</table>
		</div>

	{% else %}
		<p>There are no stocks. </p>
	{% endif %}
{% endblock %}